.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #333;
    margin-left: 10px;
    border: none;
  }


  
  .menu li {
    display: inline-block;
    position: relative;
    border: solid 1px rgba(202, 191, 191, 0.5);
  }
  
  .menu li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    color: #fff;
  }

  .menu li:hover > a {
    background: red;
    color: yellow;

  }
  
  .menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  
  .menu li:hover > ul {
    display: grid;
  }
  
  .menu ul ul {
    top: 0;
    margin-left: 105px;
  }

  .menu ul li {
    /* width: 150px; */
    width: auto;
    white-space: nowrap
  }
  
  .menu ul li a {
    /* padding: 8px 10px; */
    color: #333;
  }
  
  .menu ul li:hover > a {
    /* background: #f4f4f4; */
    background: red;
    color: yellow;
  }
  